ul { 	
    list-style:none; 
    text-align:center; 
    border-top:10px double tomato; border-bottom:1px solid tomato; padding:2rem 0; 
}

ul li { 	
    display:inline; 
    text-transform:uppercase; 
    letter-spacing:15px;
    font-weight: bold;
    padding: 0rem 2rem;
}

ul li a { text-decoration:none; color:black; }
ul li a:hover { font-size: 2rem; padding: 0.0rem 0rem; color: tomato; vertical-align: top;}
ul:hover{
    padding:2rem 0;
}