@import url('https://fonts.googleapis.com/css?family=Long+Cang|Oswald|Playfair+Display&display=swap');

* {
    margin-left: auto;
    margin-right: auto;
}

div.list_body{
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}
p.text1, p.text2, p.text3 {
    text-align: center;
    width: 30%;
    font-size: 2rem;
}
p.text1 {
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px dotted black;
}
p.text2 {
    font-family: 'Playfair Display', serif;
}
p.text3 {
    font-family: 'Long Cang', cursive;
    border-bottom: 1px dotted black;
}

li.list-2nd {
    text-align: left;
    font-family: 'Playfair Display', serif;
    color: rgb(112, 73, 255);
}

p.content{
    font-size: 1rem;
    width: 400px;
    height: auto;
    text-align: justify;
}

strong {
    color: tomato;
}

i[class='fas fa-cloud']{
    padding: 5%;
}