@font-face {
    font-family: "Vera Serif Bold";
    src: url("http://developer.mozilla.org/@api/deki/files/2934/=VeraSeBd.ttf");
  }
  h3{
    font-family: "vera Serif Bold"
  }

p {
    background-color: tomato;
    color: white;
}

p.script-test {
    background-color: tomato;
    color: white;
    font-size: 2rem;
}

a:link{
    text-decoration: none; 
    color: blue;
    background-color: white;
}
a:visited{
    text-decoration: none;
    color: green;
    background-color: silver;
}

a:hover{
    text-decoration: none;
    color: white;
    background-color: blue;
}