
div.div_absolute #one {
    position: relative;
    background-color: cyan;
    top: 25px;
    left: 40px;
    width: 80%;
    height: 300px;
}

div.div_absolute #two {
    position: absolute;
    top: 20px;
    left: 50px;
    right: 30px;
    bottom: 40px;
    margin: 45px 30px 40xp 90px;
    background-color: yellow;
}


div#div_main {
    position: relative;
    top: 100px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

div#div_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: coral;
}

div#div_2 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: plum;
}

div#div_3 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: lightgreen;
}

div#div_4 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: lightgrey;
}
