
table.table_7{
    margin: 2rem;
    border-spacing: 1rem;
}

td.table_num {
    font-size: 4rem;
    border-right: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    color: tomato;
}

td.table_cont {
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: steelblue;
}

table.table_8, table.table_8 td{
    border: 5px solid black;
    border-spacing: 1rem;
    border-radius: 10px;
}

table.table_8 {
    background-color: lightblue;
    empty-cells: hide;
}

tr.tr_first {
    background-color: crimson;
}

table.table_8 tr {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

ul { 	
    list-style:none; 
    text-align:center; 
    border-top:10px double tomato;  padding:2rem 0; 
}

ul li { 	
    display:inline; 
    text-transform:uppercase; 
    letter-spacing:15px;
    font-weight: bold;
    padding: 0rem 2rem;
}

ul li a { text-decoration:underline; color:black; }
ul li a:link { font-size: 2rem; padding: 0rem; color: green; background-color: black; vertical-align: top;}
ul li a:visited { font-size: 2rem; padding: 0rem; color: yellow; background-color: black; vertical-align: top;}
ul li a:hover { font-size: 2rem; padding: 0rem; color: tomato; background-color: black; vertical-align: top;}
ul:hover{
    padding:2rem 0;
}
