/* 메인 콘텐트 */
#main_content { position: relative; width: 1000px; height: 240px; margin: 0 auto; }
#latest { position: absolute; top: 30px; left: 50px; }
#latest h4 { width: 500px; font-size: 16px; padding-bottom: 5px; border-bottom: solid 1px #dddddd; }
#latest ul { margin-top: 20px; }
#latest li { margin-top: 8px; margin-left: 10px; }
#latest span { display: inline-block; }
#latest span:nth-child(1) { width: 280px; }
#latest span:nth-child(2) { width: 100px; }
#latest span:nth-child(3) { width: 100px; }
#point_rank { position: absolute; top: 30px; left: 590px; }
#point_rank h4 { width: 350px; font-size: 16px; padding-bottom: 5px; border-bottom: solid 1px #dddddd; }
#point_rank ul { margin-top: 20px; }
#point_rank li { margin-top: 8px; margin-left: 15px; }
#point_rank span { display: inline-block; }
#point_rank span:nth-child(1) { width: 50px; }
#point_rank span:nth-child(2) { width: 100px; }
#point_rank span:nth-child(3) { width: 100px; }
#point_rank span:nth-child(4) { width: 100px; }


/*
 * Slideshow
 */

 .slideshow {
    height : 456px;
    background : #fff;
    min-width : 960px;
    overflow : hidden;
    position : relative;
}

.slideshow_slides{
    position : absolute;
    width : 100%;
    height : 100%;
    /* border : 5px solid blue; */
}

.slideshow_slides a{
    position : absolute;
    width : 100%;
    height : 100%;
    text-align : center;
}

.slideshow_nav a{
   width : 71px;
   height : 71px;
   position : absolute;
   left : 50%;
   top : 50%;
   transform : translateT(-50%);
   background : url(../img/sprites.png) no-repeat;
   text-indent : -9999em;
}

.slideshow_nav a.prev{
   background-position : 0px -20px;
   margin-left : -480px;
}

.slideshow_nav a.next{
   background-position : -81px -20px;
   margin-left : 409px;
}

.indicator {
   position : absolute;
   width: auto;
   left : 0;
   right : 0;
   bottom : 20px;
   text-align : center;
}

.indicator a{
   display: inline-block;
   width : 10px;
   height : 10px;
   margin : 0 5px;
   background:url(../img/sprites.png) no-repeat -114px -4px;
   text-indent: -9999em;
   
   background-color: darkgrey;
   border-radius: 50%;
}

.indicator a.active {
   background-position : -134px -4px;
}
.indicator a:link {
   text-indent: -9999em;
}

