* {
    border: 0px solid white;
}

body {
    /* background-image: url('./image/2813122.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

h1,
label {
    color: rgb(44, 44, 44);
}
h1{
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

#container strong {
    color: rgb(255, 71, 38);
}

div#container {
    position: relative;
    background-color: rgba(0, 93, 110, 0.322);
    width: 700px;
    margin: 10% auto;
    padding: 40px 20px;
}

div.inputContainer {
    position: relative;
    display: inline-block;
    width: 70%;
    margin: 10px 15%;
}

div.warningIcon {
    position: absolute;
    right: 153px;
    top: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: tomato;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

div.warningIcon, div.warningMessage {
    visibility: hidden;
    color: white;
}

input {
    width: 68%;
    height: 40px;
    margin-right: 10px;
    font-size: 1rem;
    padding-left: 10px;
}

label {
    display: inline-block;
    width: 25%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

button {
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
}

input:focus,
button:focus {
    outline: 3px solid rgb(255, 174, 0);
}

button:focus {
    background-color: rgb(255, 174, 0);
}

.buttonContainer{
    float: left;
    width: 47%;
}