* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}
  
  /* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}
  
.header h1 {
    font-size: 3rem;
}

section.column h2 {
  padding-top: 2rem;
  font-size: 2rem;
  text-decoration: underline;
}

section.column h3 {
  font-size: 1.5rem;
  text-decoration: underline;
}

section.column p, section.column li{
  font-size: 1.5rem;
  text-align: justify;
  line-height: 2.5rem;
}

  /* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}
  
  /* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  /* Create two unequal columns that floats next to each other */
  /* Left column */
section.column {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

section.column .card {
  float: left;
  width: 90%;
  height: 600px;
  margin: 10px 5% 0 5%;
}
section.column .leftcard {
  float: left;
  width: 45%;
  height: 800px;
  margin: 10px 5px 0 4%;
}
section.column .rightcard {
  float: left;
  width: 45%;
  height: 800px;
  margin: 10px 4% 0 5px;
}
  /* Add a card effect for articles */
section.column article {
    background-color: white;
    padding: 60px;
}

section.column article:hover{
  background-color: #ddd;
}

section.column iframe {
  width: 100%;
  padding: 1rem;
}

aside#aside_left ul{
  list-style: none;
  padding: 0px;
  text-indent: 10px;
}

aside#aside_left li {
  border-bottom: 1px dotted darkgray;
  line-height: 30px;
}
aside#aside_left ul a {
  text-decoration: none;
  color: dimgray;
  display: block;
}

.articlefix {
    position: fixed;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
    .column {   
      width: 100%;
      padding: 0;
    }
    
    .articlefix, .cardleft {
        width: 800px;
    }
}
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {   
      width: 100%;
      padding: 0;
    }
}
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
}

section.column img {
    padding: 10px;
    height: 200px;
}